<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather - express</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="weather">
    <h1>Oops!</h1>
    <p>We can't seem to find the page you're looking for</p>
    <p>Please return <a href="/" class="homeAnchor">home</a></p>
</div>
</body>
</html>